.cursor {
  position: absolute;
  z-index: 10000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px grey solid;
  pointer-events: none;
  transition: 100ms;
  transform: translate(-50%, -50%);
  /* transition: transform 200ms; */
  transition: 200ms ease-out;
}

a:hover ~ .cursor {
  transform: scale(1.5) translate(-25%, -25%);
  /* transform: translate(-50%, -50%); */
  border: 1px solid lightslategray;
}
/* a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: black;
  font-weight: 700;
} */

.hovered:hover ~ .cursor {
  transform: scale(1.5) translate(-25%, -25%);
  /* transform: translate(-50%, -50%); */
  border: 1px solid lightslategray;
}
@media screen and (max-width: 641px) {
  .cursor {
    display: none;
  }
}
