footer .column {
  float: left;
  width: 50%;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: #d3d3d3;
  font-size: 14px;
}

footer a{
  color:#d3d3d3;
}

footer h3 {
  color: #e1e1e1;
}

footer {
  background-color: var(--footer-bg);
  padding: 100px;
}
.footer {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer #footerTXT {
  padding-top: 10px;
  font-size: 0.8rem;
  /* padding-bottom: 75px; */
  text-align: center;
}

@media screen and (max-width: 960px) {
  footer .column {
    width: 100%;
  }
  footer {
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  #txtcolumn {
    width: 100%;
  }
}

footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: rgb(160, 160, 160);
}

@media screen and (min-width: 960px) {
  #txtcolumn {
    width: 50%;
  }
}

#txtcolumn a {
  margin-right: 10px;
}

input[type='text'],input[type='email']{
  border: none;
  outline: 0;
  border-bottom: #30c3cd solid 2px;
  background-color: transparent;
  color: var(--color-text);
  transition: all 400ms;
  width: 100%;
}

textarea{
  border: none;
  outline: 0;
  border-bottom: #30c3cd solid 2px;
  background-color: transparent;
  color: var(--color-text);
  /* max-width: 375px; */
  width: 100%;
  resize: vertical;
}

label {
  position: absolute;
  top: 20px;
  left: 10px;
  pointer-events: none;
  font-size: 0.8rem;
  color:#d3d3d3;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom: #30c3cd solid 2px;
  outline: 0;
  transition: all 400ms;
}

/* input something */
input[type="text"]:invalid,
input[type="email"]:invalid,
textarea:invalid {
  border-bottom: #d3d3d3 solid 2px;
  outline: 0;
}

input[type="text"]:valid ~ label,
input[type="email"]:valid ~ label,
textarea:valid ~ label {
  position: absolute;
  top: 0;
  left: 10px;
  color: #30c3cd;
}
/* end of input */

/* move label up and change its color on focus */
input[type="text"]:focus ~ label,
input[type="email"]:focus ~ label,
textarea:focus ~ label {
  position: absolute;
  top: 0;
  left: 10px;
  color: #30c3cd;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom: #30c3cd solid 2px;
}
/* end */

button[type='submit']{
  border: 0;
  /* border: #30c3cd solid 1px; */
  outline: none;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 10px 10px 10px;
  display: block;
  background-color: #30c3cd;
}

form{
  margin: auto;
  max-width: 400px;
}

.formQuestion {
  position: relative;
  padding: 10px;
  padding-top: 20px;
}

#CTA{
  color:var(--accent-color);
}