.cardRepo{
  background-color: var(--secondary-bg);
  color: var(--color-text);
  border:1px solid var(--secondary-border);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  position: relative;
  max-width: 400px;
  margin: auto;
  margin: 10px;
  flex: 2;
  min-width: 350px;
  min-height: 125px;
  transition: 400ms;
}
.language{
  position: absolute;
  top: 15px;
  right: 10px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.cardRepo i{
  color: #30c3cd;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.cardRepo:hover{
  transform: rotate(-2deg);
}

.cardRepo p{
  color:var(--secondary-color-text);
}

.icons-div{
  position: absolute;
  bottom: 15px;
  right: 10px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.topics-div{
  margin-top: 10px;
  /* bottom: 15px;
  left: 10px;
  display: flex;
  align-items: center;
  font-size: 0.8rem; */
}

.topics-div span{
  font-size: 0.8rem;
  width: auto;
  background-color: #9de9ee;
  border-radius: 20px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  color: black;
  font-family: "Source Code Pro", monospace;
}