.funProjContainer{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#funProjects h1,#projects h1{
    font-family: "Source Code Pro", monospace;
    font-size:25px;
    text-align: center;
    padding-bottom: 10px;
    color:var(--color-text);
}
#funProjects > p, #projects > p{
    font-size: 1rem;
    text-align: center;
    max-width: 900px;
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
    color:grey;
}

#funProjects{
    padding: 100px 0;
}
.cardRepo{
    background-color: var(--secondary-bg);
    color: var(--color-text);
    border:1px solid var(--secondary-border);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    position: relative;
    max-width: 400px;
    margin: auto;
    margin: 10px;
    flex: 2;
    min-width: 350px;
    min-height: 125px;
    transition: 400ms;
  }
  .language{
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  
  .cardRepo i{
    color: #30c3cd;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  
  .cardRepo:hover{
    transform: rotate(-2deg);
  }
  
  .cardRepo p{
    color:var(--secondary-color-text);
  }
  
  .icons-div{
    position: absolute;
    bottom: 15px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  
  .topics-div{
    margin-bottom: 10px;
    /* bottom: 15px;
    left: 10px;
    display: flex;
    align-items: center;
    font-size: 0.8rem; */
  }
  
  .topics-div span{
    font-size: 0.8rem;
    width: auto;
    background-color: #9de9ee4a;
    border-radius: 20px;
    padding: 5px;
    color: #30c3cd;
    margin-right: 5px;
    margin-bottom: 2px;
    font-family: "Source Code Pro", monospace;
  }