#indivprojpages header {
  width: 100%;
  height: 35vh;
  background-color: var(--CTA-bg);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
#indivprojpages .row {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

#indivprojpages .column {
  flex: 50%;
  padding: 10px;
  color: var(--color-text);
}

#indivprojpages .column img {
  width: 100%;
}

@media screen and (max-width: 960px) {
  #indivprojpages .row {
    flex-direction: column;
  }
}
#indivprojpages h1 {
  padding: 25px 0 5px 0;
  font-family: "Source Code Pro", monospace;
}
#nextProject {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  text-align: center;
  background-color: var(--CTA-bg);
}
#indivprojpages a {
  text-decoration: underline;
}
