#indivprojpages .row {
  display: flex;
  margin: auto;
  display: flex;
  margin: auto;
  padding-bottom: 75px;
}

#indivprojpages .column {
  flex: 50%;
  padding: 10px;
  color: var(--color-text);
}

#indivprojpages img {
  width: 100%;
}

@media screen and (max-width: 960px) {
  #indivprojpages .row {
    flex-direction: column;
  }
}
#indivprojpages h1 {
  padding: 25px 0 5px 0;
  font-family: "Source Code Pro", monospace;
}
#nextProject {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  text-align: center;
  background-color: var(--CTA-bg);
}
#indivprojpages a {
  text-decoration: underline;
}

.container-indiv {
  padding-top: 40px;
  max-width: 90%;
  margin: auto;
  color: var(--color-text);
}

.project-header {
  padding: 10px 10px 50px 10px;
}
.project-header h1 {
  font-size: 2.2rem;
}
.project-header p span {
  color: var(--accent-color);
}
#project-outcome{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 35vh;
  height: 100%;
}

#indivprojpages .column:nth-child(1){
  flex: 60% 1;
}
#indivprojpages .column:nth-child(2){
  flex: 40% 1;
}