#mainProjects {
  margin: 50px 0;
}

#mainProjects .card {
  display: flex;
  /* max-width: 1000px; */
  position: relative;
  /* border: 1px solid black; */
  width: 90%;
  max-width: 1000px;
  margin: auto;
  flex-direction: row;
}
#mainProjects .cardText {
  flex: 50%;
  background-color: var(--secondary-bg);
  border-radius: 20px;
  padding: 10px;
  height: 200px;
  position: absolute;
  top: 30px;
  left: 350px;
  transition: 400ms;
  border: 1px solid var(--secondary-border);
  width: 50%;
  height: 70%;
  padding-top: 30px;
  color: var(--color-text);
}
#mainProjects .cardImg {
  flex: 50%;
}
#mainProjects .cardText:hover {
  transform: scale(1.02);
}
#mainProjects .cardImg img {
  width: 50%;
  transform: rotate(2deg);
  border-radius: 10px;
}
@media only screen and (max-width: 801px) {
  #mainProjects .card {
    flex-direction: column;
    margin-bottom: 175px;
  }
  #mainProjects .cardText {
    position: absolute;
    top: 80%;
    left: 0;
    width: 65%;
    min-height: 215px;
  }
  #mainProjects .cardImg img {
    width: 98%;
  }
  #mainProjects .cardText {
    width: 100%;
  }
}

.cardText .stack {
  color: #30c3cd;
}
.cardText .description {
  color: rgb(179, 179, 179);
}

.cardText a {
  color: #30c3cd;
}

.cardText i {
  padding: 5px;
  font-size: 20px;
}
.cardText .stack {
  color: #30c3cd;
}
#projects > h1{
  color:var(--color-text);
}