.card{
    border: 2px solid #d4d4d4;
    width: 400px;
    height: 500px;
    padding: 18px 20px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
}
.card:hover{
    -webkit-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.2); 
    box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.2);
    transition: 400ms;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.column {
    float: left;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 1256px) {
    .column{
        width: 50%;
        height: 100%;
    }
    .card{
        width: 90%;
        height: 100%;
    }
}
@media screen and (max-width: 801px) {
    .column{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .column{
        width: 100%;
    }
}