.categories {
    width: auto;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 5px;
    margin: 7px;
    color: black;
    font-family: "Source Code Pro", monospace;
    display: inline-block;
  }